body {
    margin: 5rem;
    font-family: sans-serif;
    box-sizing: border-box;
}

div {
    border: 1px solid #ccc;
    padding: 1.5rem 3rem;
}

h2 {
    margin: 0 0 1rem 0;
}

button {
    font: inherit;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid #ff0055;
    background: #ff0055;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    transition: all 0.3s;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background: #e92f6d;
    border-color: #e92f6d;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.long-one--container {
    height: 10rem;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.long-one {
    height: 60rem;
    background: linear-gradient(
        rgba(255, 0, 0, 0.5),
        rgba(0, 128, 0, 0.5),
        rgba(0, 0, 255, 0.5)
    );
}

ul {
    list-style: none;
    border: 1px solid rgb(185, 178, 178);
    margin: 10px auto;
    padding: 5px;
    box-shadow: 2px 2px 4px 2px rgba(255, 0, 0, 0.3);
}

li {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.highlight {
    background-color: red;
    color: white;
    font-weight: bold;
}
